<div class="col-sm-3 col-md-2 sidebar" ng-controller="viewCtrl">
 	<img src="../img/char.gif" width="200" height="200" class="img-responsive" alt="Task">
  <button class="btn btn-danger btn-block" type="button" ng-click="logout()">Log Out</button>
	<label>Health</label>
	<div class="progress">
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">100% HP</span>
		</div>
	</div>
	<label>Esimated Points</label>
	<div class="progress">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">100% EP</span>
		</div>
	</div>
	<label>Experience</label>
	<div class="progress">
		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="sr-only">0% XP</span>
		</div>
	</div>

	<ul class="nav nav-sidebar">
		<li><h3>Task</h3></li>
		<li class=""><a href="#/tasks">Overview <span class="sr-only">(current)</span></a></li>
		<li><a href="#/tasks/create">Create</a></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li><h3>Projects</h3></li>
		<li><a href="#/projects">Overview</a></li>
		<li><a href="#/projects/create">Create</a></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li><h3>Team</h3></li>
		<li><a href="#/teams">Overview</a></li>
		<li><a href="#/teams/create">Create</a></li>
	</ul>
</div>
