<ul class="nav nav-pills nav-stacked">
<h4>Tasks</h4>
  <li role="presentation" class="" ><a href="#/tasks/create">Create</a></li>
  <li role="presentation" class="" ><a href="#/tasks/list">All Tasks</a></li>
  <h4>Projects</h4>
  <li role="presentation" class="" ><a href="#" ng-click="">Create</a></li>
  <li role="presentation" class="" ><a href="#" ng-click="">All Tasks</a></li>
  <h4>Teams</h4>
  <li role="presentation" ><a href="#">Create</a></li>
  <li role="presentation" ><a href="#">All Tasks</a></li>
</ul>