{{PageTitle}}
<div class="jumbotron col-md-9">
  <table class="table">
    <tr>
      <th></th>
      <th>#</th>
      <th>Name</th>
      <th>Estimate</th>
      <th>Difficulty</th>
      <th>Owner</th>
      <th>Created By</th>
      <th>State</th>
      <th>Project</th>
      <th></th>
    </tr>
    <tr ng-repeat="task in tasks" ng-class="{'selected': task.selecionada}">
      <td><input type="checkbox" ng-model="task.selecionada"></td>
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>{{task.estimate}}</td>
      <td>{{task.dfficulty}}</td>
      <td>{{task.owner}}</td>
      <td>{{task.createdBy}}</td>
      <td>{{task.state}}</td>
      <td>{{task.project}}</td>
      <td><a href="" ng-click="setDetails(task.id)">Details</a></td>

    </tr>
  </table>