    <h1>{{PageTitle}}</h1>
  <div class="jumbotron col-md-9">
  <a href="#/tasks/create" class="btn btn-success">Create New Task</a>
    <button class="btn btn-danger" ng-disabled="!isTaskSelecionada(tasks)">Apagar Tasks</button>
    <table class="table">
      <tr>
        <th></th>
        <th>#</th>
        <th>Name</th>
        <th>Estimate</th>
        <th>Difficulty</th>
        <th>Owner</th>
        <th>Created By</th>
        <th>State</th>
        <th>Project</th>
        <th></th>
      </tr>
      <tr ng-repeat="task in tasks" ng-class="{'selected': task.selecionada}">
        <td><input type="checkbox" ng-model="task.selecionada"></td>
        <td>{{task.Id}}</td>
        <td>{{task.name}}</td>
        <td>{{task.estimate}}</td>
        <td>{{task.dfficulty}}</td>
        <td>{{task.owner}}</td>
        <td>{{task.createdBy}}</td>
        <td>{{task.state}}</td>
        <td>{{task.project}}</td>
        <td><a class="btn btn-info" href="#/tasks/details/{{task.Id}}">Details</a></td>

      </tr>
    </table>
  </div>

  
